@model DAL.Entities.Account
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Create";
}

<script src="~/js/site.js"></script>

<link rel="stylesheet" href="~/css/ui.css">
<h2>Create</h2>

<h4>Account</h4>
@section scripts{
    <script>
        function accountInfo() {
           var e = document.getElementById("acc");
           var type = e.options[e.selectedIndex].value;
            console.log(type);

            
            if (type == "Savings") {
                document.getElementById("intrestrate").setAttribute("value", "0.02");
                document.getElementById("accountType").setAttribute("value", "Savings");
                document.getElementById("maturitydate").setAttribute("readonly", "readonly");
                document.getElementById("maturitydate").setAttribute("value", "null");
            }
            else {
                console.log("Unexpeted Error");
            }


        }

    </script>
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OpenAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountType" class="control-label"></label>


                <input id="accountType" type="hidden" asp-for="AccountType" value ="Savings" />
                

                <select id="acc" style="background-color: dimgrey;" name="account-type"  onchange="accountInfo()">
                    <option value="Savings" selected="selected">Savings</option>
                    </select>
            




                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CustomerNo" class="control-label"></label>
                    <select asp-for="CustomerNo" class ="form-control" asp-items="ViewBag.CustomerNo"></select>
                </div>*@

                <input type="hidden" asp-for="CustomerId" value="@Context.Session.GetString("CustomerNo")" >




            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AccountStatus" value="1" checked="checked" disabled="disabled" /> @Html.DisplayNameFor(model => model.AccountStatus)
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Interestrate" class="control-label"></label>
                <input asp-for="Interestrate" id="intrestrate"  style="background-color: dimgrey;" value="0.02"  readonly="readonly" class="form-control" />
                <span asp-validation-for="Interestrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

