@model EditRoleViewModel

@{ ViewData["Title"] = "Edit Role"; }

<link rel="stylesheet" href="~/css/ui.css">
<h2>Edit Role</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomerNo" class="control-label"></label>
                <input asp-for="CustomerNo" class="form-control" style="background-color: black" readonly="readonly" />
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" style="background-color: black" readonly="readonly" />
            </div>
            <div class="form-group">
                @foreach (var role in Model.RolesList)
                {
                    @Html.RadioButtonFor(m => m.SelectedRole, role.SelectedValue,new {@class = "control-label"}) <span> &nbsp;</span>

                    @Html.Label(role.SelectedValue.ToString(), role.SelectedValue.ToString(), new { @class = "control-label" })<span> &nbsp; &nbsp; &nbsp;</span>}

            </div>

            <div class="form-group">
                <input type="submit" value="Update Role" class="btn btn-default" />
            </div>



        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}