@{
    ViewData["Title"] = "Contact";
}
<h2>S-Bank</h2>
<h3>Reach us:</h3>

<address>
    Tenaya Way<br />
    Las Vegas, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@sbank.com">Support@sbank.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@sbank.com">Marketing@sbank.com</a>
</address>
